@{
    ViewBag.Title = "About";
}
<p>
    SourceCode <a href="https://github.com/Jalalhejazi/JalalMobile">gitHub</a>
    
</p>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>